<!DOCTYPE html>
<html lang="en"></html>

{{> head }}

<body>
    {{> navbar }}
    <div class="row">
        <div class="col-8"> 
            <h1 Sombrero</h1>
            <p>Esto es un sombrero muy bonito</p>
        </div>
        
        <div class="col-4"> 
            <img src="assets/img/imagen1.png" class="img-thumbail">
       </div>
    </div>
    


</body>

{{> footer }}
</html>
